<header class="app-header">
    <nav class="app-header__navbar navbar">
        <ul class="navbar__list list">
            <li class="list__item item">
                <a
                    class="item__link" 
                    routerLink="/users" 
                    routerLinkActive="item__link--active"
                >
                    Users
                </a>
            </li>

            <li class="list__item">
                <a
                    class="item__link"
                    routerLink="/winners"
                    routerLinkActive="item__link--active"
                >
                    Winners
                </a>
            </li>

            <li class="list__item">
                <a
                    class="item__link"
                    routerLink="/toppers"
                    routerLinkActive="item__link--active"
                >
                    Toppers
                </a>
            </li>
        </ul>
    </nav>
</header>
